<div class="container-fluid p-0">
    <header class="header">     
        <!-- barra de navegación -->
        <div class="navbar p-2">
          <div class="col-4">
            <div class="header__imagen1 m-3">
              <div class="header__imagen1">
                <img class="header__imagen1__logo img-fluid" src="img/logo.png" alt="logo">
              </div> 
            </div>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-around">
            <button class="navbar-toggler" type="button" data-bs-target="#navbarNav" data-bs-toggle="collapse" aria-expanded="false" aria-label="toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarNav">
              <h5>¡Hola {{user.name}}!</h5>
              <ul class="navbar-nav p-1 m-2">
                
                {{#each routes}}
                <li class="nav-item active">
                  <a class="nav-link" href={{this.route}}>{{this.label}}</a>
                </li>
                {{/each}}
          
                <li class="nav-item active">
                  <a class="nav-link" href="/homeAdmin">HOME</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/productAdd">AGREGAR PRODUCTOS</a>
                </li>
       
               
              </ul>
              <input type="submit" class="btn btn-warning" onclick="location.href='logout';" value="Cerrar Sesión">
            </div>
          </nav> 
        </div>        
    </header>
    <main>
        <!-- frase sidebar -->
        <aside class="sidebar text-center">
          <div class="sidebar-frase m-3">
            <h4>SI NO ES UN BUEN DÍA ME LO INVENTO LOVELY</h4>
          </div>
        </aside>
        <div class="row">
          <!-- productos -->
          <h2 class="col_12">AGREGAR PRODUCTOS</h2>
        </div>
        <section class="store">
          <div class="container">
            <div class="items">
              <div class="row">
              
                  {{> Add }}
       
              </div>
            </div>
             
          </div>
        </section>      
    </main>   
</div>

