

<div class="col-12 col-md-4 mb-3">
  <div class="card mt-5 item" style="width: 15rem;" data-id={{_id}} >
      <img src={{thumbnail}} class="card-img-top item-thumbnail" style="height: 17rem;" alt="...">
        <div class="card-body">
            <h5 class="item-name">{{name}}</h5>
          <p class="card-text item-price">$ {{price}}</p>
            <button class="item-button btn btn-dark addToCart">
              Agregar 
            </button>
        </div>
  </div>
</div>